# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Docker
docker-compose.override.yml
*.log

# Jupyter
.ipynb_checkpoints

# Airflow
airflow.db
airflow.cfg
